{% macro ngx_directive(directive, my_args = [], my_kwargs = {}) %}
{% if my_args is string or my_args is not sequence %}
{% set my_args = [my_args] %}
{% endif %}
{{ directive }}
{%- for arg in my_args %}
{% if arg is sameas true %}
{% set arg = 'on' %}
{% elif arg is sameas false %}
{% set arg = 'off' %}
{% else %}
{% if arg is string and ' ' in arg %}
{% set arg = arg | quote %}
{% endif %}
{% endif %}
 {{ arg }}
{%- endfor %}
{% for key, val in my_kwargs | dictsort %}
{%- if val is sameas true %}
 {{ key }}
{%- elif val is sameas false %}
{%- else %}
 {{ key }}={{ val }}
{%- endif %}
{%- endfor %}
;
{%- endmacro -%}
