{%  macro directive(directive, my_args = [], my_kwargs = {}) %}
{%    if my_args is string or my_args is not sequence %}
{%      set my_args = [my_args] %}
{%    endif %}
{{    directive }}
{%-   for arg in my_args %}
{%      if arg is sameas true %}
{%        set arg = 'on' %}
{%      elif arg is sameas false %}
{%        set arg = 'off' %}
{%      else %}
{%        if arg is string and ' ' in arg %}
{%          set arg = arg | quote %}
{%        endif %}
{%      endif %}
{{      ' ' }}{{ arg }}
{%-   endfor %}
{%    for key, val in my_kwargs | dictsort %}
{%-     if val is sameas true %}
{{        ' ' }}{{ key }}
{%-     elif val is sequence and val is not string %}
{{        ' ' }}{{ key }}={{ val | join(':') }}
{%-     elif val is not sameas false %}
{{        ' ' }}{{ key }}={{ val }}
{%-     endif %}
{%-   endfor %}
{{    ';' }}
{%- endmacro -%}

{%  macro block(block_name, content = none) %}
{%    if block_name is string -%}
{{      block_name }}
{%-   else -%}
{{      block_name | select | join(' ') }}
{%-   endif -%}
{{    ' {' }}
{%    if content %}
{%      filter indent(first = true) %}
{{        content }}
{%      endfilter %}
{%    endif %}
{{    '}' }}
{%- endmacro -%}

{%  macro guess_syntax(dir, value, allow_empty) %}
{%    if value is mapping %}
{%      if 'args' in value or 'kwargs' in value %}
{{        directive(dir, value.args | default([]), value.kwargs | default({})) }}
{%-     elif ansible_os_family in value %}
{{        guess_syntax(dir, value[ansible_os_family], allow_empty) }}
{%-     else %}
{%        for key, val in value | dictsort %}
{{          guess_syntax(dir ~ ' ' ~ key, val, allow_empty) }}
{%-         if not loop.last %}
{{            '\n' }}
{%-         endif %}
{%        endfor %}
{%-     endif %}
{%    elif allow_empty and value is sameas true %}
{{      dir }};
{%-   elif allow_empty and value is sameas false %}
{%    elif value is sequence and value[0] is sequence and value[0] is not string %}
{%      for val in value[0] %}
{{        guess_syntax(dir, val, allow_empty) }}
{%-       if not loop.last %}
{{          '\n' }}
{%-       endif %}
{%      endfor %}
{%    else %}
{{      directive(dir, value) }}
{%-   endif %}
{%- endmacro -%}

{%  macro bulk_directives(context, allow_empty = false) %}
{%    set keywords = ['location', 'locations', 'if', 'ifs', 'maps', 'upstreams', 'log_format']
%}
{%    for dir in context.iterkeys() | difference(keywords) | sort %}
{%      set result = guess_syntax(dir, context[dir], allow_empty) %}
{%      if result %}
{%        if not loop.first %}
{{          '\n' }}
{%-       endif %}
{{        result }}
{%-     endif %}
{%-   endfor %}
{%  endmacro -%}
