{% import 'libnginx.j2' as ngx with context -%}

{%  macro locations(context) %}
{%    set bulk = ngx.bulk_directives(context) %}
{%    if context.ifs is defined %}
{%      set ifs %}
{%        for if_block in context.ifs %}
{{          '\n' ~ block(['if', '(%s)' | format(if_block.if)], ngx.bulk_directives(if_block)) }}
{%-       endfor %}
{%      endset %}
{%    else %}
{%      set ifs = none %}
{%    endif %}
{%    if context.locations is defined %}
{%      set locs %}
{%        for location in context.locations %}
{{          '\n' ~ locations(location) }}
{%-       endfor %}
{%      endset %}
{%    else %}
{%      set locs = none %}
{%    endif %}
{{    ngx.block(['location', context.location], [bulk, ifs, locs] | select | join('\n')) }}
{%- endmacro -%}

{%  macro redirect(host, ssl = true, permanent = true, uri = '$request_uri') %}
{%    set url %}
{{      ssl | ternary('https', 'http') }}://{{ host ~ uri }}
{%-   endset %}
{{    ngx.directive('return', [permanent | ternary(301, 302), url]) }}
{%- endmacro -%}

{%  macro upstream(name, context) %}
{{    ngx.block(['upstream', name], ngx.bulk_directives(context, allow_empty = true)) }}
{%- endmacro -%}

{%  macro map_block(context) %}
{%    set special %}
{%      if context.hostnames | default(false) %}
{{        'hostnames;' }}
{%      endif %}
{%      if context.volatile | default(false) %}
{{        'volatile;' }}
{%      endif %}
{%      if context.default | default('') != "" %}
{{        ngx.directive('default', context.default) }}
{%      endif %}
{%-   endset %}
{%    set content %}
{%      if special %}
{{        special }}
{%      endif %}
{%      for key, value in context.map.iteritems() %}
{{        key ~ ' ' ~ value }};
{%-       if not loop.last %}
{{          '\n' }}
{%-       endif %}
{%      endfor %}
{%-   endset %}
{{    ngx.block(['map', context.string, context.var], content) }}
{%- endmacro -%}

{%  macro primary_name() %}
{%    if site.server.server_name is string %}
{%      set n = site.server.server_name %}
{%    else %}{# is sequence #}
{%      set n = site.server.server_name[0] %}
{%    endif %}
{%    if n[0] == '.' %}
{{      n | replace('.', '', 1) }}
{%-   else %}
{{      n }}
{%-   endif %}
{%  endmacro -%}
