{%  macro directive(directive, my_args = [], my_kwargs = {}) %}
{%    if my_args is string or my_args is not sequence %}
{%      set my_args = [my_args] %}
{%    endif %}
{{    directive }}
{%-   for arg in my_args %}
{%      if arg is sameas true %}
{%        set arg = 'on' %}
{%      elif arg is sameas false %}
{%        set arg = 'off' %}
{%      else %}
{%        if arg is string and ' ' in arg %}
{%          set arg = arg | quote %}
{%        endif %}
{%      endif %}
{{      ' ' }}{{ arg }}
{%-   endfor %}
{%    for key, val in my_kwargs | dictsort %}
{%-     if val is sameas true %}
{{        ' ' }}{{ key }}
{%-     elif val is sequence and val is not string %}
{{        ' ' }}{{ key }}={{ val | join(':') }}
{%-     elif val is not sameas false %}
{{        ' ' }}{{ key }}={{ val }}
{%-     endif %}
{%-   endfor %}
{{    ';' }}
{%- endmacro -%}

{%  macro block(block_name, content = none) %}
{%    if block_name is string -%}
{{      block_name }}
{%-   else -%}
{{      block_name | select | join(' ') }}
{%-   endif -%}
{{    ' {' }}
{%    if content %}
{%      filter indent(first = true) %}
{{        content }}
{%      endfilter %}
{%    endif %}
{{    '}' }}
{%- endmacro -%}

{%  macro locations(context) %}
{%    set bulk = bulk_directives(context) %}
{%    if context.ifs is defined %}
{%      set ifs %}
{%        for if_block in context.ifs %}
{{          '\n' ~ block(['if', '(%s)' | format(if_block.if)], bulk_directives(if_block)) }}
{%-       endfor %}
{%      endset %}
{%    else %}
{%      set ifs = none %}
{%    endif %}
{%    if context.locations is defined %}
{%      set locs %}
{%        for location in context.locations %}
{{          '\n' ~ locations(location) }}
{%-       endfor %}
{%      endset %}
{%    else %}
{%      set locs = none %}
{%    endif %}
{{    block(['location', context.location], [bulk, ifs, locs] | select | join('\n')) }}
{%- endmacro -%}

{%  macro redirect(host, ssl = true, permanent = true, uri = '$request_uri') %}
{%    set url %}
{{      ssl | ternary('https', 'http') }}://{{ host ~ uri }}
{%-   endset %}
{{    directive('return', [permanent | ternary(301, 302), url]) }}
{%- endmacro -%}

{%  macro bulk_directives(context) %}
{%    set keywords = ['location', 'locations', 'if', 'ifs'] %}
{%    for dir in context.iterkeys() | difference(keywords) %}
{%      set value = context[dir] %}
{%      set my_args = [] %}
{%      set my_kwargs = {} %}
{%      if value is mapping %}
{%        if 'args' in value or 'kwargs' in value %}
{%          set my_args = value.args | default([]) %}
{%          set my_kwargs = value.kwargs | default({}) %}
{%        elif ansible_os_family in value %}
{%          set my_args = value[ansible_os_family] %}
{%        else %}
{%          set my_kwargs = value %}
{%        endif %}
{%      else %}
{%        set my_args = value %}
{%      endif %}
{{      directive(dir, my_args, my_kwargs) ~ (loop.last | ternary('', '\n')) }}
{%-   endfor %}
{%  endmacro -%}
