{%  import 'libnginx.j2' as ngx with context -%}
{%  import 'libsite.j2' as libsite with context -%}

{%- set site_bulk = ngx.bulk_directives( site.http | default({})) %}

{%- set site_maps %}
{%    if site.http is defined %}
{%      for context in site.http.maps | default([]) %}
{{        libsite.map(context) }}
{%-       if not loop.last %}
{{          '\n\n' }}
{%-       endif %}
{%      endfor %}
{%    endif %}
{%  endset %}

{%- set site_ups %}
{%    if site.http is defined %}
{%      for name in site.http.upstreams | default({}) %}
{{        libsite.upstream(name, site.http.upstreams[name]) }}
{%-       if not loop.last %}
{{          '\n\n' }}
{%-       endif %}
{%      endfor -%}
{%    endif %}
{%  endset %}

{%- set site_redir %}
{%    if site.redirect_from is defined %}
{%      for ssl in [false, site.server.ssl | default(false)] | unique %}
{{        ('Redirect to the primary domain, ' ~ ssl | ternary('SSL', 'plain')) | comment }}
{%        set content %}
{{          ngx.directive('listen', ssl | ternary(443, 80)) }}
{{          ngx.directive('server_name', site.redirect_from) }}
{%          if ssl %}
{{            ngx.directive('ssl', true) }}
{%          endif %}
{{          libsite.redirect(host = libsite.primary_name(), ssl = true) }}
{%-       endset %}
{{        ngx.block('server', content) }}
{%-     if not loop.last %}
{{        '\n\n' }}
{%-     endif %}
{%      endfor %}
{%    endif -%}
{%  endset %}

{%- set site_ssl %}
{%    if automatic_ssl_redirects | default(false) %}
{%      if site.server.ssl | default(false) %}
{{        'Redirect from non-SSL to SSL' | comment }}
{%        set content %}
{{          ngx.directive('listen', 80) }}
{{          ngx.directive('server_name', site.server.server_name) }}
{{          libsite.redirect(host = libsite.primary_name(), ssl = true) }}
{%-       endset %}
{{        ngx.block('server', content) }}
{%-     endif -%}
{%-   endif -%}
{%  endset %}

{%- set site_main %}
{%-   set content %}
{{      ngx.bulk_directives(site.server | default({})) }}
{%-     for if_block in site.server.ifs | default([]) %}
{{        '\n' }}
{{        ngx.block(['if', '(%s)' | format(if_block.if)], ngx.bulk_directives(if_block)) }}
{%-     endfor %}
{%-     for location in site.server.locations | default([]) %}
{{        '\n' }}
{{        libsite.locations(location) }}
{%-     endfor %}
{%    endset -%}

{{    ngx.block('server', content) }}
{%- endset -%}

{{  [site_bulk, site_ups, site_maps, site_redir, site_ssl, site_main] | select | join('\n\n') }}
