{% from 'directive.j2' import ngx_directive -%}

{% macro connection_settings() %}
{% if site.ssl | default(true) %}
listen 443;
ssl on;
{% if site.sni is defined %}
# SSL/TLS SNI mode
{{ ngx_directive('ssl_certificate', sni.cert) }}
{{ ngx_directive('ssl_certificate_key', sni.key) }}
{% endif %}
{% else %}
listen 80;
{% endif %}
{% endmacro -%}

{% macro primary_name() %}
{% if site.names is string %}
{% set n = site.names %}
{% else %}{# site.names is sequence #}
{% set n = site.names[0] %}
{% endif %}
{% if n[0] == '.' %}
{{ n | replace('.', '', 1) }}
{%- else %}
{{ n }}
{%- endif %}
{% endmacro -%}

{% if (site.redirect_from is defined) or (site.ssl | default(true)) %}
server {
{% filter indent(first = true) %}
{{ ngx_directive('server_name', names) }}
listen 80;
return 301 {{ site.ssl | default(true) | ternary('https', 'http') }}://{{ host }}$request_uri;
{% endfilter %}
}
{% endif %}

server {
{% filter indent(first = true) %}
{{ ngx_directive('server_name', names) }}
{{ ngx_directive('listen', ssl | ternary(443, 80)) }}
{% if ssl %}
ssl on;
{% if key is not none or cert is not none %}
{{ ngx_directive('ssl_certificate', cert) }}
{{ ngx_directive('ssl_certificate_key', key) }}
{% endif %}
{% endif %}

{{ content }}
{% endfilter %}
}
